:root {
    --nav-height: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none !important; 
}

a {
    text-decoration: none !important;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f1f5f9;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--nav-height);
}

#navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: var(--nav-height);
}

#navbar img {
    height: 76px;
}

#navlist {
    width: 40%;
}

#navlist ul {
    display: flex;
    justify-content: space-evenly;
}

#navlist li {
    display: block;
    height: var(--nav-height);
    line-height: var(--nav-height);
    transition: .5s;
}

#navlist a {
    padding: 0 16px;
    color: #000;
    font-weight: 600;
    padding: 8px 16px;
}

#navlist li:hover a{
    border-bottom: 3px solid #000 ;
}

#body {
    margin-top: calc(var(--nav-height) + 32px);
    width: 80vw;
}

#body .slider {
    display: flex;
    justify-content: space-between;
    /* margin-top: var(--nav-height); */
}

#body .infor {
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#body .infor h1{
    padding-top: 16px;
    font-size: 40px;
}

#body .slider .img-infor {
    width: 65%;
    height: 500px;
    background-color: #ddd;
}

#body .slider-content {
    /* margin-top: var(--nav-height); */
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}


#body .slider-content h3 {
    margin-top: 32px;
    margin-right: 80px;
    padding-left: 16px;
    font-size: 24px;
    border-left: 2px solid #000;
}

#body .slider-content:last-child {
    width: 100%;
}

#body .infor h2 {
    color: #999;
    font-weight: 100;
    font-size: 20px;
}

#body .slider-content p {
    font-size: 18px;
    color: #999;
    font-weight: 100;
}

#body .content {
    margin-top: var(--nav-height);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#body .content .title {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

#body .content .title h1 {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 40px;
}

#body .content .title p {
    font-style: italic;
    color: #999;
    margin: 16px 0 32px;
}

#body .content .title img {
    font-style: italic;
    color: #999;
    margin: 16px 0 32px;
    transition: .8s;
}

#body .content .title img:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

#body .content .news-main {
    width: 65%;
}

#body .content .news-main p{
    color: rgba(0, 0, 0, 0.7);
    padding: 24px 0;
    letter-spacing: 0.2px;
}

#body .content .news-main > p {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

#body .content .news-main .description{
    font-size: 0.8rem;
    margin-top: -16px;
    color: #000;
    font-style: italic;
}

#body .content .news-poster {
    margin-top: 32px;
    width: 25%;
    height: 1000px;
    background-color: #32335A;
}

#body .content .img-content img {
    width: 100%;
}

#footer {
    /* height: 300px; */
    width: 100vw;
    background-color: #172133;
    display: flex;
    justify-content: center;
}

#footer-content {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 64px 0;
}
  
#footer .contact {
    width: calc(100%/3);
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #ffffffcb;
} 

#footer .contact p {
    padding: 8px 0;
}

#footer .social {
    padding-top: 16px;
}

#footer .social a{
    margin: 16px 8px;
    color: #ffffffcb;
}

#footer .social i {
    font-size: 1.6rem;
}

#footer .about {
    margin: 16px 16px;
    width: calc(100%/3);
    background-color: #ddd;
}

#footer .map {
    margin: 16px 16px;
    width: calc(100%/3);
    overflow: hidden;
    height: 300px;
    border-radius: 40px;
}